1.define a series with even values from 100 to 200 in descending order

In [13]:
import pandas as pd
import numpy as np

In [2]:
l = [ i for i in range(100,200) if i % 2 == 0]
l.sort(reverse=True)
l

[198,
 196,
 194,
 192,
 190,
 188,
 186,
 184,
 182,
 180,
 178,
 176,
 174,
 172,
 170,
 168,
 166,
 164,
 162,
 160,
 158,
 156,
 154,
 152,
 150,
 148,
 146,
 144,
 142,
 140,
 138,
 136,
 134,
 132,
 130,
 128,
 126,
 124,
 122,
 120,
 118,
 116,
 114,
 112,
 110,
 108,
 106,
 104,
 102,
 100]

In [ ]:
#2.assign index to this series starting from 100

In [4]:
import pandas as pd
import numpy as np
l.sort()
df=pd.Series(l)
df

0     100
1     102
2     104
3     106
4     108
5     110
6     112
7     114
8     116
9     118
10    120
11    122
12    124
13    126
14    128
15    130
16    132
17    134
18    136
19    138
20    140
21    142
22    144
23    146
24    148
25    150
26    152
27    154
28    156
29    158
30    160
31    162
32    164
33    166
34    168
35    170
36    172
37    174
38    176
39    178
40    180
41    182
42    184
43    186
44    188
45    190
46    192
47    194
48    196
49    198
dtype: int64

3.create a dataframe of random values of shape 8*6 . Assign index as numerical values and column names from a to f and using loc and iloc print values of rows 3,4 and columns b and e

In [5]:
import pandas as pd
import numpy as np
from numpy.random import randn
df=pd.DataFrame(randn(8,6),index='1 2 3 4 5 6 7 8'.split(),columns='a b c d e f'.split())
df

          a         b         c         d         e         f
1  0.002042  0.026746 -0.826420  1.105010 -0.047679  0.276049
2  1.754216  0.226311 -0.543708  0.517198 -0.668524  0.641412
3 -0.663881  0.870141  1.514704  0.469016  1.204160  1.144160
4  0.204636  1.409150  0.774217 -0.711576  1.283236  0.809930
5 -0.702635 -0.975189  0.052050 -0.916213 -0.170877 -0.414809
6 -0.755904  1.436485  0.080903  1.689008  0.002073  0.254249
7  0.200977  1.233603 -0.960876  0.451944 -1.047191 -0.319275
8 -0.670477 -0.938946  1.558501  0.456377 -0.005744 -1.105803

In [6]:
df.iloc[[2,3]]

          a         b         c         d         e        f
3 -0.663881  0.870141  1.514704  0.469016  1.204160  1.14416
4  0.204636  1.409150  0.774217 -0.711576  1.283236  0.80993

In [7]:
df.iloc[:,[1,4]]

          b         e
1  0.026746 -0.047679
2  0.226311 -0.668524
3  0.870141  1.204160
4  1.409150  1.283236
5 -0.975189 -0.170877
6  1.436485  0.002073
7  1.233603 -1.047191
8 -0.938946 -0.005744

create a multi-index dataframe and 1st index is ["cse","IT"] and second index is 1 to 6 numbers. use 2 columns A,B and assign random values to it

In [ ]:
arr = [np.array(["CSE","CSE","CSE","CSE", "CSE", "CSE","IT","IT","IT","IT","IT","IT"]),
                  np.array([1, 2, 3, 4, 5, 6, 1, 2 , 3, 4, 5, 6])]
tuples = list(zip(*arr))
tuples
index = pd.MultiIndex.from_tuples(tuples, names=["A", "B"] )
index
s = pd.Series(np.random.randn(12), index=index)
s

print the row value of number 4 from cse

In [53]:
s["CSE"][4]

0.824761658645627

print the row value of 3,5 from IT

In [56]:
s["IT"][2:5]

B
3   -0.213906
4   -0.230296
5   -0.274837
dtype: float64